/*NavBar*/

.menu {
    padding-bottom: 20em;
}



/*FOOTER*/
footer {
    text-align: center;
}
footer .copyrights {
    background-color: rgba(62, 62, 62, 1);
    color: rgba(200, 200, 200, 1);
    padding: .25rem 1.75rem;
    }